workflows/company-research-v1.json
{
  "name": "AI SDR Agent - Company Research v1",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -320,
        -80
      ],
      "id": "7dd24737-6731-474e-aa8f-3df45742b771",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a3fb5676-a61a-4f66-9e8b-783d1e196bd2",
              "name": "company_name",
              "value": "Stripe",
              "type": "string"
            },
            {
              "id": "15b25a1a-3754-440b-a0e5-581235e796dc",
              "name": "website",
              "value": "https://stripe.com",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -112,
        -80
      ],
      "id": "a4b0daec-6e43-4521-8539-76bd6d739966",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "={{ $json.website }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        96,
        -80
      ],
      "id": "7c4ce428-fd32-48fd-b7bf-c312024425a3",
      "name": "Fetch Company Website"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=You are a sales research assistant.\n\nAnalyze the company's homepage.\n\nReturn ONLY valid JSON.\n\n{\n  \"company\":\"\",\n  \"industry\":\"\",\n  \"customers\":\"\",\n  \"summary\":\"\"\n}\n\nHomepage:\n\n{{ $('Fetch Company Website').first().json.data }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        304,
        -80
      ],
      "id": "0fbe50e4-e15b-44f2-bb88-f632fc8d02cc",
      "name": "Analyze Company Homepage",
      "credentials": {
        "openAiApi": {
          "id": "1IoIjFD0BzB78z3a",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1wyN0DkPAI0a6cTaPic_i2u0WIZt3Rg44lcQ8-4GNdI8",
          "mode": "list",
          "cachedResultName": "AI Sales Agent Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wyN0DkPAI0a6cTaPic_i2u0WIZt3Rg44lcQ8-4GNdI8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wyN0DkPAI0a6cTaPic_i2u0WIZt3Rg44lcQ8-4GNdI8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "company_name": "={{ $node[\"Edit Fields\"].json.company_name }}",
            "website": "={{ $node[\"Edit Fields\"].json.website }}",
            "industry": "={{ JSON.parse($json.output[0].content[0].text).summary }}"
          },
          "matchingColumns": [
            "company_name"
          ],
          "schema": [
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "website",
              "displayName": "website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "industry",
              "displayName": "industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pain_point",
              "displayName": "pain_point",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "contact_name",
              "displayName": "contact_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "contact_email",
              "displayName": "contact_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email_subject",
              "displayName": "email_subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email_body",
              "displayName": "email_body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "approved",
              "displayName": "approved",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sent_at",
              "displayName": "sent_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        656,
        -80
      ],
      "id": "88bfa9cd-43ad-4710-8d44-0273b0198d10",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rut19MsjgK4zbx8F",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Fetch Company Website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Company Website": {
      "main": [
        [
          {
            "node": "Analyze Company Homepage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Company Homepage": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "f5465150-2ad8-4ec6-90f5-3659c3e7ada9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a3f0253a20ab87574c0ff48f67d432ad0c5de99ae68eb1050fc03d82b301d136"
  },
  "nodeGroups": [],
  "id": "wzz0VCJb4lQFJxID",
  "tags": []
}